<html>
    <head>
    {% block title %}
        <title>Matcher</title>
    {% endblock %}
    <link href="assets/css/style.css" rel="stylesheet">
    </head>

    <body>
        {% block content %}{% endblock %}
      
    </body>
  <script src="/assets/js/app.js"></script>
</html>